.main-navigation{
  display: flex;
}
.main-navigation {
  margin-left: 1.5rem;
}
.main-navigation ul li{
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 5px;
}
.main-navigation ul {
  display: flex;
  list-style: none;
  
}
.main-navigation ul li a{
  color: white;
  margin: 15px;

}

.main-navigation a:hover,
.main-navigation a:active,
.main-navigation a.active,
.main-navigation button:hover,
.main-navigation button:active {
  background: #ffffff;
  color: rgb(120, 120, 238);
  border-radius: 2px;
  padding: 2px;
  margin: 15px;
}